
*{margin: 0;
  padding: 0;
  list-style:none;
}
a{ 
	text-decoration: none;
}
/* å¯¼èˆªå¼€å§‹ */
.tou1box
{
	width: 100%;
	height: 40px;background: #000000;
}
.tou1{
		width: 1226px;
		height: 40px;
		background: #333333;
		margin: 0 auto;
	}
.tou1 .tou-left{
				width: 1226px;
				height: 40px;
			    margin: 0 auto;
				/* background: pink; */
	           background: rgba(0, 0, 0, 1.0)

}
.meau-left{
	width: 620px;
	height: 40px;position: relative;
}
.meau-left li{
					float: left;
				    border-right: 1px solid #423b36;
				    padding: 0 8px;
				    margin-top: 12px;

}
.meau-left li:first-child{
	                        padding-left: 0px;
}
.meau-left li:last-child{
							border : none;
}
.meau-left li a{
	font-size: 12px;
	color: #b0b0b0;
}
.meau-left li a:hover{
		color: #fff;
}
.tou1 .tou-right{
				width: 277px;
				height: 40px;
				/* background:blue; */
				float: right;
			}
.tou-right .touright1{
	width: 157px;
	height: 40px;
	/* background: red; */
	float: left;
	font-size: 12px;

}

.touright1 .meau-right li{
	float: left;
    border-right: 1px solid #423b36;
	padding: 0 8px;
	margin-top: 12px;
}
.meau-right li .a2:hover {
	color: #fff;
}
.a2{font-size: 12px;
	color: #b0b0b0;

}
.tou-right .touright2{
	width: 120px;
	height: 40px;
	background: #424242;
	float: right;
	position: relative;
}


.touright2 .touright2-1{
	width: 24px;
	height: 24px;
	/* background: yellow; */
	float: left;
	margin-top: 5px;
	margin-left: 13px;
	background: url('../img/che1.png') no-repeat center center;
	}
.touright2:hover .touright2-1{
	background: url('../img/c2.png') no-repeat center center;
}
	.touright2 .touright2-2{
	width: 83px;
	height: 20px;
	
	float: left;
	margin-top: 8px;
	font-size: 12px;
	color: #a2b0b0;

}
.touright2:hover{
	background: #fff;
 }
 .touright2:hover .touright2-2{
 	color: #ff6700;
 }


/* å¯¼èˆªç»“æŸ */
/* äºŒéƒ¨åˆ†å¼€å§‹ */
.nav0{
	width: 100%;
	height: 100px;
	background: #fff;
}
/* xiaomi mbe kai */
.nav0 .nav{
	width: 1226px;
	height: 100px;
	background: #fff;
	margin: 0 auto;
}
.nav .nav1{
	width: 55px;
	height: 55px;
	background: green;
	float: left;
	margin-top: 22px;
}
.nav a{
	display: block;
	width: 100%;
	height: 100%;

}
a .mimbe{
	display: block;
	width: 100%;
	height: 100%;
}
/* xiaomi mbe wan */
.nav .nav2{
	width: 875px;
	height: 78px;
	/* background: pink; */
	float: left;
	margin-top: 22px;position: relative;
}
.nav2list
{   
	width: 1226px;height: auto;
	box-sizing: border-box;
	padding: 0 61.5px;display: flex;
	border-top: 1px solid #E0E0E0;
   transition: 1s;
    margin: 0 auto;
   
}

.pei:hover{
	 box-shadow:0 0px 5px 0.5px rgba(0,0,0,0.4);
	 transform:translateY(-2px);
	 transition:all 0.5s;
}
.pei:hover .pei1{
	transform:translateY(-75px);
	 transition:all 0.5s;

}
.nav2list1
{
	width: 100%;height: 0px;
	transition: 1s;overflow: hidden;
     position: absolute;z-index: 200;
	left: 0;top: 140px;transition: 0.5s;
 background: white;transition: 0.5s ease 0.25s;
   
}
.nav2list1op
{ height: 230px;
  z-index: 210; box-shadow: 0 2px 1px 1px #D6D6D6;
}
.nav2li
{   
	width: 204px;height: 201px;
	
}
.nav2list span
{   margin-top: 35px;
	width: 1px;height: 100px;
	background: #E3E3E3;
}
.newiphoneTop
{
	width: 66px;height: 21px;margin: 0 auto;
	margin-bottom: 14px;font-size: 12px;
	color: #FF6700;text-align: center;
	line-height: 21px;box-sizing: border-box;
	border: 1px solid #FF6700;
}
.nav2li img
{
	display: block;width: 160px;
	height: 110px;margin: 0 auto;
}
.nav2li p
{font-size: 12px;margin-top: 12px;
	color: #333;text-align: center;

}
.nav2li h6
{  
   font-size: 12px;color: #FF6700;
   text-align: center;margin-top: 5px;
   font-weight: 500;
}




.nav2 ul{
	margin-left: 189px;

}
.nav2 ul li:hover a{
	color: #ff6700;

}
.nav2 ul li{
	float: left;
	padding: 20px 20px 43px 0px;
	font-size: 16px;
	

}
.nav2 ul li a{
	color: #333;
}
.nav .nav3{
	width: 294px;
	height: 48px;
	background: #fff;
	border: 1px solid #e0e0e0;
	float: left;
	margin-top: 25px;
}
.nav3 .nav3-1{
	width: 243px;
	height: 48px;
	/* background: red; */
	float: left;position: relative;
	font-size: 12px;
}
.gouwuCheft
{  width: 316px;height: 0;
   position: absolute;
   left: -196px;top: 40px;z-index: 20;
   background: #fff;font-size: 12px;
   color: #555;text-align: center;
   line-height: 98px;transition: 0.25s;
   box-shadow: 0 2px 5px 1px #D6D6D6;
}
.nav3-1 .nav3-1-1{
	width: 78px;
	height: 18px;
	background: #eeeeee;
	float: left;
	margin: 15px 5px 11px 83px;
	text-decoration: none;
}
.nav3-1-1 a{
	color: #757575;
}
.nav3-1-1:hover{

	background: #ff6700;
}
.nav3-1-1:hover a{
	/* color: #fff; */


}
.nav3{cursor:pointer;}
.nav3-1 .nav3-1-2{
	width: 67px;
	height: 18px;
	background: #eeeeee;
	float: left;
	margin-top: 15px;
	margin-right: 10px;
}
.nav3-1-2 a{
	color: #757575;
}
.nav3-1-2:hover{

	background: #ff6700;
}
.nav3-1-2:hover a{
	color: #fff;

}
.nav3 .nav3-2{
	width: 50px;
	height: 48px;
	/* background: blue; */
	float: left;
	border-left: 1px solid #e0e0e0;
}
.nav3-2 a{
	display: block;
	width: 100%;
	height: 100%;
}
.nav3-2 a .fangda{
	   display: block;
	   width: 100%;
	   height: 100%;
}
.nav3-2 a{
	background: url('../img/fangda.png') no-repeat  center center;

}
.nav3-2 a:hover{
	background: url('../img/sou1.jpg') no-repeat  center center;

}

/* äºŒéƒ¨åˆ†ç»“æŸ */
/* bannaå¼€å§‹ */
.banna0{
	width: 100%;
	height: 460px;
	background: #fff;
}
.banna{
	width: 1226px;
	height: 460px;
	
	margin: 0 auto;
	position:relative;
}
.banna .ul1{
	width: 1226px;
	height: 460px;
	

}
.banna1
{
	opacity: 0;z-index: 1300;
}
.boty
{
	opacity: 1;z-index: 1500;
	
}
.boxmain
{
	width: 2480px;height: 340px;
	transition: 0.5s;
}
ul .banna1 a{
	display: block;
	width: 1226px;
	height: 460px;

	position:absolute;
	top: 0;
	left: 0;
}
.banna1 .banna11{
	display: block;
	width: 1226px;
	height: 460px;

}
.banna .zuo{
	width: 41px;
	height: 69px;
	background: rgba(0, 0, 0, 0.0);
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	left: 234px;
	font-size: 30px;
	text-align: center;
	line-height: 69px;
	cursor:pointer;


}

.banna .zuo:hover{
	background: rgba(0, 0, 0, 0.5);
}
.banna .you{
	width: 41px;
	height: 69px;
	background: rgba(0, 0, 0, 0.0);
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	right: 0;
	font-size: 30px;
	text-align: center;
	line-height: 69px;
	cursor:pointer;
}
.banna .you:hover{
	background: rgba(0, 0, 0, 0.5);
}
.list0{
	width: 140px;
	height: 10px;
	/* background:blue; */
	position: absolute;
	bottom: 25px;
	right: 34px;
}
.list0 .dian{
	width: 6px;
	height: 6px;
	border: 2px solid #847376;
	background:#333333;
	border-radius:50%;
	float: left;transition: 1s;
	margin-right: 10px;
}
.dianhover{
	background:#fff;
}
.meau-1{
	width: 234px;
	height: 460px;
    background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0;
	top: 0;

}

.meau-1 .list2{
	width: 234px;
	height: 460px;
	padding: 20px 0;
	box-sizing: border-box;
	position: relative;
	/* position: relative; */
/* 	background: rgba(0, 0, 0, 0.5); */
}
/* .list2 .li11{
	width: 994px;
	height: 460px;
	background: yellow;/
	position:absolute;
	top: 20px;
	left: 234px;
	 */

/* } */
.list2 li{
	width: 234px;
	height: 42px;
	font-size: 12px;
	line-height: 42px;
	cursor:pointer;
	
/* 	overflow: hidden; */
}
/* li .small-box{
	width: 600px;
	height: 460px;
	background: yellow;
	position: absolute;
	left: 234px;
	top: -20px;
	display: none; */
/* 	transition: all 1s; */
/* }
li:hover .small-box{ */
	/* transform: translateX(1px); */
/* 	display: block;
} */
/* .list2 li:hover .li11{
	transform: translateX(1px);
	transition: all 1s;
} */
.itam
{   position: absolute;
	left: 234px;top: 0;
	/* width: calc(1226px - 234px); */
	width: 795px;
	height: 460px;background: #fff;
	box-sizing: border-box;
	border-top: 1px solid #E0E0E0;
	box-shadow: 0 2px 5px 1px #D6D6D6;
	display: none;
}
#listCard
{
	width: 100%;height: 100%;
	display: flex;
	flex-wrap: wrap;
}

#listCard span
{   display: block;
	width: 256px;
	height: 77px;
}
#listCard span a
{   padding: 18px 0 18px 20px;
	box-sizing: border-box;display: block;
    float: left;font-size: 14px;
	width: 190px;height: 100%;
	color: #333;transition: 0.25s;
}
#listCard span a:hover
{   
	color: #ff6700;
}
#listCard span a img
{   display: block;float: left;
	width: 40px;height: 40px;margin-right: 10px;
}
.rzbuy
{   width: calc(100% - 190px);height: 100%;
	float: right;
	display: flex;justify-content: center;
}
.rzbuybox
{
	width: 60px;height: 24px;
	margin: 0 auto;border: 1px solid #FF6700;
	align-self: center;text-align: center;
	line-height: 24px;color: #FF6700;
	transition: 0.25s;
}
.rzbuybox:hover
{
	background: #ff6700;
	color: #fff;
}



















.list2 li:hover{
	background: #ff6700;

/* 	cursor:pointer; */

}
li:hover .li1{
	color: #fff;
}
li .li1{
	width: 130px;
/* 	height: 20px; */
/* 	background: green; */
	float: left; 
	color: #c2c8ca;
/* 	padding-top: 10px; */
/* 	margin-bottom: 30px; */
    padding-left: 30px;
}
li .li2{
	width: 20px;
	height:42px;
    float: right;
  /*   background: pink;  */
	margin-right: 0;
	color: #a0aaae;
}




/* bannaç»“æŸ */
.hxwith{width: 100%;}
.houxu{width: 1226px;
	   height: 170px;
	   background: white;
       margin: 0px auto;
       margin-top: 14px;
      }
      .houxubox1{width: 234px;
                height: 170px;
              
                float: left;
                margin-right: 14px;
               }
      .houxubox11
      {width: 228px;
      height: 164px;  
      padding: 3px;
      background-color: #5F5750;
      }        
      .houxubox11 li
      {
      	width: 69px;height: 82px;padding: 0 3px;
      	float: left;background-color: #5F5750;
      }
      .shuxian{
      	width: 1px;height: 70px;background:#665E57;float: left;
        margin-top: 6px;
             }

      .houxubox11 li a
      {width: 70px; height: 46px;padding-top: 18px;
          display: block;text-align: center;
        font-size: 12px;color: #CDCAC8;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;}
        .xa1,.xa2,.xa3
        {border-top: 1px solid #665E57;}
        .houxubox11 li:hover a{color: white;}


      
       
     

      .houxubox2{width: 316px;
      	         height: 170px;
      	         float: left;
      	        
      	         margin-right: 15px;
               }
.houxu .houxubox2:last-child{margin-right: 0px;}
/* ä¸‰éƒ¨åˆ†å¼€å§‹ */

/* ä¸‰éƒ¨åˆ†ç»“æŸ */
				
/* æ˜Žæ˜Ÿå¼€å§‹ */
.shang{
	width: 100%;
	height: 80px;
	background: #fff;
}
.shang1{width: 1226px;
        height: 40px;
        background: #fff;
        margin: 0 auto;
        padding-top: 40px;
}
.biaoti1{font-size: 20px;
         color: #333333;
         float: left;
}
.xiala{width: 63px;
       height: 22px;
       background: #fff;
       float: right;cursor: pointer;
       margin-top: 5px;
}
.zuoxia{float: left;
	width: 30px;
	border: 1px solid #e0e0e0;

	    height: 20px;
	    background:#fff;
}
.zuoxia1{float: right;
	     width: 30px;
	    height: 20px;
	    background: #fff;
	    border: 1px solid #e0e0e0;
	    border-left: none;
}
.xiaoyu{font-size: 16px;
	    text-align: center;
	    line-height: 20px;
	    color: #666;
}
.xiaoyu1{color: #e0e0e2;
}
.dahezi0{
	width: 100%;
	height: 340px;
	background: #fff;
	padding-bottom: 40px;
}
.dahezi{width: 1226px;
	    height: 340px;
	    background: #ffffff;
	    margin:0 auto;overflow: hidden;
	    padding-bottom: 40px;

}
.hezi{width: 234px;
	  height: 339px;
	  background:#fafafa;
	  float: left;
	  margin-right: 14px;
	  font-size: 12px;
      text-align: center;
}
.la{
      display: block;
      width: 160px;
      height: 160px;
      background: #fafafa;
      margin: 0px auto 0px;
}
.la img{
	display: block;
	width:100%;
	height:100%;
	margin: 25px auto 0;
}
.dahezi .hezi:first-child{border-top: 1px solid #FFAC13;
}
.word-box{width: 213px;
          height: 80px;
          background: #fafafa;
          margin: 0 auto; 
          margin-top: 46px;
}
.word1{text-decoration: none;
	   color: #212121;
}
.word2{color: #b6c9e7;
	  margin-top: 11px;
}
.word3{ margin-top: 20px;
       color: #ff6709;
}
.dahezi .hezi:nth-child(2){border-top: 1px solid #83C44E;
}
.dahezi .hezi:nth-child(3){border-top: 1px solid #2196f3;
}
.dahezi .hezi:nth-child(4){border-top: 1px solid #e53935;
}
.dahezi .hezi:last-child{margin-right: 0;
	                     border-top: 1px solid #00c0a5;
}
/* æ˜Žæ˜Ÿç»“æŸ */
.h1{width: 100%;
    height:820px;
    background: #f5f5f5;
    margin: 0 auto;
}
.h2{height:30px;
	    width: 1226px;
	    background:#f5f5f5;
	    margin: 0 auto;
	    padding-top: 75px;


}
.h21{width: 100%;
	height: 61px;
	background:#f5f5f5;
/* 	margin-top: 58px; */
}
 .h3{
 	 width: 100px;
 	 height: 26px;
	 background:#f5f5f5;
	 font-size: 22px;
	 float: left;
	 color: #333;
	/*  margin-top: 30px; */

}

.h4{width: auto;
	/*  margin-top: 5px; */
	 height: 25px;
	 background:#f5f5f5;
	 float: right;
	}
.h4 li{float: left;
	  margin-right: 30px;
	  height: 24px;width: auto;
	  
}

.h4 li:hover{
	color: #ff6700;
	cursor: pointer;
	border-bottom: 2px solid #ff6700;
}
.h4 li:last-child{
	margin-right: 0px;
}




.dahezi2{width: 1348px;
	     height: 614px;
	     background: #f5f5f5;
	     margin: 0 auto;position: relative;
}
.zuo1{width: 234px;
       height: 614px;
       background: #fff;
       float: left;
       margin-left: 62px;
    

}
.hot
{
	border-bottom: 2px solid #FF6700;
	color: #FF6700;
	transition: .5s;
}
.h5h
{
	 position: absolute;
	 height: 614px;
	 width: 1036px;
	 left: 297px;
	 top: 0;
	 display: none;
}
.h5h1
{
	 position: absolute;
	 height: 614px;width: 1031px;
	left: 296px;top: 0;
    display: none;
}
.h5h2
{
    position: absolute;
	 height: 614px;width: 1031px;
	left: 296px;top: 0;
    display: none;
}
.h5h3
{    position: absolute;
	 height: 614px;width: 1031px;
	left: 296px;top: 0;
    display: none;

}
.h5h4
{    position: absolute;
	 height: 614px;width: 1031px;
	left: 296px;top: 0;
    display: none;

}
.h5h5
{    position: absolute;
	 height: 614px;width: 1031px;
	left: 296px;top: 0;
    display: none;

}
.zuo2{width: 234px;
	  height: 300px;
	  background: #fff;
	  float: left;
	  margin-left: 14px;
	  position:relative;
	  overflow: hidden;

}
.dong1{
	width: 234px;
	height: 75px;
	background:#ff6700;
	position:absolute;
	left: 0;
	bottom: -75px;
	font-size: 12px;
	color: #fff;
	/* line-height: 75px; */
}
.dong1 .p1{
	/* line-height: 75px; */
	width: 180px;
	font-size: 12px;
	color: #fff;
	margin: 10px 27px 0 27px;
}
.dong1 .p2{
	width: 180px;
	font-size: 12px;
	color: #b0b0b7;
	margin-left: 50px;
	margin-top: 10px;
/* 	line-height: 75px; */
	/* margin-top:15px ; */

}


.zuo2:hover{
	 box-shadow:0 0px 5px 0.5px rgba(0,0,0,0.4);
	 transform:translateY(-2px);
	 transition:all 0.5s;
}
.zuo2:hover .dong1{
	transform:translateY(-75px);
	 transition:all 0.5s;

}
.zuo3{margin-right: 60px;
}
.zuo4{margin-top: 14px;
}


.zuo6{width: 234px;
	  height: 300px;
	  background: #f5f5f5;
	  float: right;
	 
	  margin-right: 60px;
	  margin-top: 14px;
}
.zuo5{width: 234px;
	  height: 143px;
	  background: #fff;
	  margin-top: 0;
      }
.zuo7{width: 234px;
	  height: 143px;
	  background: #fff;
	   margin-top: 14px;
	 
	   }


.word-dian0{width: 81px;
	        height: 54px;
	        background: white;
	        margin-top:38px;
	        margin-left: 25px;
	        text-align: center;
	        float: left;
}
.word-dian0 .word-dian01{color: #212121;
	                     text-decoration: none;
}
.word-dian0 .word-dian02{margin-top: 14px;
                         color: #ff6709;
}
.zuo-3{display: block;
	   width: 67px;
	   height: 115px;
	 /*   background: green; */
	     float: right;
	   margin-right: 21px;
}

.word-dian4{width: 73px;
          height: 80px;
          background: #ffffff;
          margin: 0 auto; 
          margin-top: 44px;
          margin-left: 25px;
          font-size: 12px;
          text-align: center;
          float: left;
          text-align: center;

 } 
 .word-dian41{width: 73px;
          height: 80px;
          background: #ffffff;
          margin: 0 auto; 
          margin-top: 14px;
          margin-left: 25px;
          font-size: 12px;
          text-align: center;
          float: left;
          text-align: center;
            
 } 
.word-dian5{display: block;
	         width:73px;
             height:12px;
             margin-top: 12px;
	         color: #212121;
	         text-decoration: none;
}
.word-dian6{display: block;
	         width:73px;
             height:12px;
             margin-top:14px;
	         color: #ff6709;
}




       
.zuo-3 .img3{display: block;
	         width:100%;
             height:100%;


}
.zuo-1{display: block;
	   width: 166px;
	   height: 117px;
	 /*   background: green; */
	   margin: 49px auto 0;
}
.zuo-1 .img1{ display: block;
	          width: 166px;
	          height: 117px;
	        /*   background: green; */
	          margin: 49px auto 0;
}
.zuo-2{display: block;
	   width: 234px;
       height: 614px;
	  /*  background: green; */
}
.zuo-2 .img2{display: block;
	         width: 234px;
             height: 614px;
}

.word-dian{width: 213px;
          height: 80px;
          background: #fff;
          margin: 0 auto; 
          margin-top: 40px;
          font-size: 12px;
          text-align: center;
}
.word-dian1{text-decoration: none;
	                   color: #212121;
}
.word-dian2{color: #b6c9e7;
	       margin-top: 8px;
}
.word-dian3{ margin-top: 18px;
            color: #ff6709;
}
.word-dian5{ margin-top: 12px;
	         color: #212121;
}
/* æ™ºèƒ½ç»“æŸ */
/* æ­é…å¼€å§‹ */
.h1{width: 100%;
    height:820px;
    background: #f5f5f5;
    margin: 0 auto;
}
.h2{height:30px;
	    width: 1226px;
	    background:#f5f5f5;
	    margin: 0 auto;
	    padding-top: 75px;


}
.h21{width: 100%;
	height: 61px;
	background:#f5f5f5;
/* 	margin-top: 58px; */
}
 .h3{
 	 width: 100px;
 	 height: 26px;
	 background:#f5f5f5;
	 font-size: 22px;
	 float: left;
	/*  margin-top: 30px; */

}
#hhh1{
	margin-right: 34px;
}

.h4{width: 286px;
	/*  margin-top: 5px; */
	 height: 25px;
	 background:#f5f5f5;
	 float: right;
	 margin-right: 13px;
	}
.h4 li{float: left;
	 
	  
}
 li:last-child{
	padding-right: 0px;


}




.dahezi2{width: 1348px;
	     height: 614px;
	     background: #f5f5f5;
	     margin: 0 auto;
}
.zuo1c{width: 234px;
       height: 614px;
     /*   background: red; */
       float: left;
       margin-left: 62px;
       position:relative;
}
.zuo1c .zuo2{
	margin-left: 0px;
}
a .tutu{
	display: block;
    width: 234px;
	height: 300px;}
.zuo1c .tutu{
	width: 234px;
	height: 300px;
	background: blue;
	position:absolute;
	left: 0;
	bottom: 0px;
}
.zuo1c .tutu:hover{
	box-shadow:0 0px 5px 0.5px rgba(0,0,0,0.4);
	 transform:translateY(-2px);
	 transition:all 0.5s;
}
.zuo2{width: 234px;
	  height: 300px;
	  background: #fff;
	  float: left;
	  margin-left: 14px;
	  position:relative;
	  overflow: hidden;

}
.dong1{
	width: 234px;
	height: 75px;
	background:#ff6700;
	position:absolute;
	left: 0;
	bottom: -75px;
	font-size: 12px;
	color: #fff;
	/* line-height: 75px; */
}
.dong1 .p1{
	/* line-height: 75px; */
	width: 180px;
	font-size: 12px;
	color: #fff;
	margin: 10px 27px 0 27px;
}
.dong1 .p2{
	width: 180px;
	font-size: 12px;
	color: #b0b0b7;
	margin-left: 50px;
	margin-top: 10px;
/* 	line-height: 75px; */
	/* margin-top:15px ; */

}


.zuo2:hover{
	 box-shadow:0 0px 5px 0.5px rgba(0,0,0,0.4);
	 transform:translateY(-2px);
	 transition:all 0.5s;
}
.zuo2:hover .dong1{
	transform:translateY(-75px);
	 transition:all 0.5s;

}
.zuo3{margin-right: 60px;
}
.zuo4{margin-top: 14px;
}


.zuo6{width: 234px;
	  height: 300px;
	  background: #f5f5f5;
	  float: right;
	 
	  margin-right: 60px;
	  margin-top: 14px;
}
.zuo5{width: 234px;
	  height: 143px;
	  background: #fff;
	  margin-top: 0;
      }
.zuo5:hover{
	box-shadow:0 0px 5px 0.5px rgba(0,0,0,0.4);
	 transform:translateY(-2px);
	 transition:all 0.5s;
}
.zuo7{width: 234px;
	  height: 143px;
	  background: #fff;
	   margin-top: 14px;
	   }
.zuo7:hover{
	box-shadow:0 0px 5px 0.5px rgba(0,0,0,0.4);
	 transform:translateY(-2px);
	 transition:all 0.5s;
}


.word-dian0{width: 81px;
	        height: 54px;
	        background: white;
	        margin-top:38px;
	        margin-left: 25px;
	        text-align: center;
	        float: left;
}
.word-dian0 .word-dian01{color: #212121;
	                     text-decoration: none;
}
.word-dian0 .word-dian02{margin-top: 14px;
                         color: #ff6709;
}
.zuo-3{display: block;
	   width: 67px;
	   height: 115px;
	 /*   background: green; */
	     float: right;
	   margin-right: 21px;
}

.word-dian4{width: 73px;
          height: 80px;
          background: #ffffff;
          margin: 0 auto; 
          margin-top: 44px;
          margin-left: 25px;
          font-size: 12px;
          text-align: center;
          float: left;
          text-align: center;

 } 
 .word-dian41{width: 73px;
          height: 80px;
          background: #ffffff;
          margin: 0 auto; 
          margin-top: 14px;
          margin-left: 25px;
          font-size: 12px;
          text-align: center;
          float: left;
          text-align: center;

 } 
.word-dian5{display: block;
	         width:73px;
             height:12px;
             margin-top: 12px;
	         color: #212121;
	         text-decoration: none;
}
.word-dian6{display: block;
	         width:73px;
             height:12px;
             margin-top:14px;
	         color: #ff6709;
}


       
.zuo-3 .img3{display: block;
	         width:100%;
             height:100%;


}
.zuo-1{display: block;
	   width: 166px;
	   height: 120px;
	   /* background: green; */
	   margin: 47px auto 0;
}
.zuo-1 .img1{ display: block;
	          width: 166px;
	          height: 120px;
	         /*  background: green; */
	          margin: 47px auto 0;
}
.zuo-2{display: block;
	   width: 234px;
       height: 614px;
	 /*   background: green; */
}
.zuo-2 .img2{display: block;
	         width: 234px;
             height: 614px;
             transition: all 0.3s;
}
.zuo-2:hover .img2{
	box-shadow: 0 0  3px 0.2px rgba(0, 0, 0, 0.4);
	transform: translateY(-2px);
} 
.word-dian{width: 213px;
          height: 80px;
          background: #fff;
          margin: 0 auto; 
          margin-top: 40px;
          font-size: 12px;
          text-align: center;
}
.word-dian1{text-decoration: none;
	                   color: #212121;
}
.word-dian2{color: #b6c9e7;
	       margin-top: 8px;
}
.word-dian3{ margin-top: 18px;
            color: #ff6709;
}
.word-dian5{ margin-top: 12px;
	         color: #212121;
}
/* æ™ºèƒ½ç»“æŸ */	
/* æ™ºèƒ½å¼€å§‹ */


/*peijian*/

.h1p{width: 100%;
    height:710px;
    background: #f5f5f5;
    margin: 0 auto;
  position: relative;
}
.h2p{height:42px;
	    width: 1226px;
	    background:#f5f5f5;
	    margin: 0 auto;
	    padding-top: 38px;
	    


}
.h21p{width: 100%;
	height: 61px;
	background:#f5f5f5;
/* 	margin-top: 58px; */
}
 .h3p{
 	 width: 100px;
 	 height: 26px;
	 background:#f5f5f5;
	 font-size: 22px;
	 float: left;
	/*  margin-top: 30px; */

}

.h4p{width: auto;
	/*  margin-top: 5px; */
	 height: 25px;
	 background:#f5f5f5;
	 float: right;
	}
.h4p li{float: left;
	  margin-right: 30px;
	  height: 24px;width: auto;
	  
}


.lihover{
	color: #ff6700;
	cursor: pointer;
	border-bottom: 2px solid #ff6700;
}

/* .h4p li:hover{
	color: #ff6700;
	cursor: pointer;
	border-bottom: 2px solid #ff6700;
} */
.h4p li:last-child{
	margin-right: 0px;
}
.xuanbox{
	width: 100%;
	height: 614px;	
	position: absolute;
	left: 0px;
	top:80px;
	z-index: 999;
	opacity: 0;transition: 0.0s;
}
.firot{
	z-index: 1000;
	opacity: 1;
}
.boxxuan{
	width: 960px;
	height: 614px;
	position: absolute;
	left: 296px;top: 0;
	/*background: blue;*/
}
.pei{
	width: 230px;
	height: 300px;
	background: #fff;
	float: left;
	margin-left: 10px;
	position: relative;
	overflow: hidden;
}
.apei{
	display: block;
	width: 166px;
	height: 117px;
	margin: 49px auto 0;
}
.apei img{
	display: block;
	width: 166px;
	height: 153px;
	margin: 37px auto 0;
}
.pei1{
	width: 234px;
    height: 75px;
    background: #ff6700;
    position: absolute;
    left: 0;
    bottom: -75px;
    font-size: 12px;
    color: #fff;

}
.pei2{
    width: 213px;
    height: 80px;
    background: #fff;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 12px;
    text-align: center;
}
.pp1{
	width: 180px;
    font-size: 12px;
    color: #fff;
    margin: 10px 27px 0 27px;
}
.pp2{
	width: 180px;
    font-size: 12px;
    color: #b0b0b7;
    margin-left: 50px;
    margin-top: 10px;
}
.pei22{
	text-decoration: none;
	color: #212121;
}
.pei23{
	color: #b6c9e7;
    margin-top: 8px;
}
.pei24{
	margin-top: 18px;
	color: #ff6709;
}
.pe2{
	margin-top: 14px;
}
.pe3{
	background: #f5f5f5;
}
.xiao{
	width: 100%;
	height: 143px;
	background: #fff;
	margin-top: 0;
}
.xiao a{

	display: block;
	width: 67px;
	padding-bottom: 15px;
	float: right;
	
}
.xiao a img{
	display: block;
	width: 100%;
	height: 100%;
}

.h1{
    width: 100%;
    height:auto;
    background: #f5f5f5;
    /* margin: 0 auto; */
}
.h2{
	    height:42px;
	    width: 100%;
	    background:#f5f5f5;
	    /* margin: 0 auto; */
	    padding-top: 38px;
}
.h21{
	width: 1271px;
	height: 61px;
	background:#f5f5f5;
	margin: 0 auto;
	box-sizing: border-box;
	padding-left: 39px;
}
 .h3{
 	 width: 100px;
 	 height: 26px;
 	 background:#f5f5f5;
 	 font-size: 22px;
 	 float: left;
 	 /*  margin-top: 30px; */
}

.h41{width: auto;
	/*  margin-top: 5px; */
	 height: 25px;
	 background:#f5f5f5;
	 float: right;margin-right: 39px;
	}
.h41 li{float: left;
	  margin-right: 30px;
	  height: 24px;width: auto;
	  
}

.h41 li:hover{
	color: #ff6700;
	cursor: pointer;
	border-bottom: 2px solid #ff6700;
}
.h41 li:last-child{
	margin-right: 0px;
}




.dahezi2{
	     width: 1323px;
	     height: 614px;
	     background: #f5f5f5;
	     margin: 0 auto;
	     /* margin-right: 20px; */
}
.zuo1c{width: 234px;
       height: 614px;
     /*   background: red; */
       float: left;
       margin-left: 62px;
       position:relative;
}
.zuo1c .zuo2{
	margin-left: 0px;
}
a .tutu{
	display: block;
    width: 234px;
	height: 300px;}
.zuo1c .tutu{
	width: 234px;
	height: 300px;

	position:absolute;
	left: 0;
	bottom: 0px;
}
.zuo1c .tutu:hover{
	box-shadow:0 0px 5px 0.5px rgba(0,0,0,0.4);
	 transform:translateY(-2px);
	 transition:all 0.5s;
}
.zuo2{width: 230px;
	  height: 300px;
	  background: #fff;
	  float: left;
	  margin-left: 10px;
	  position:relative;
	  /*! overflow: hidden; */

}
.dong1{
	width: 234px;
	height: 75px;
	background:#ff6700;
	position:absolute;
	left: 0;
	bottom: -75px;
	font-size: 12px;
	color: #fff;
	/* line-height: 75px; */
}
.dong1 .p1{
	/* line-height: 75px; */
	width: 180px;
	font-size: 12px;
	color: #fff;
	margin: 10px 27px 0 27px;
}
.dong1 .p2{
	width: 180px;
	font-size: 12px;
	color: #b0b0b7;
	margin-left: 50px;
	margin-top: 10px;
/* 	line-height: 75px; */
	/* margin-top:15px ; */

}


.zuo2:hover{
	 box-shadow:0 0px 5px 0.5px rgba(0,0,0,0.4);
	 transform:translateY(-2px);
	 transition:all 0.5s;
}
.zuo2:hover .dong1{
	transform:translateY(-75px);
	 transition:all 0.5s;

}
.zuo3{margin-right: 0px;
}
.zuo4{margin-top: 14px;
}


.zuo6{width: 234px;
height: 300px;
background: #f5f5f5;
float: left;
margin-left: 10px;
margin-top: 14px;
}
.zuo5{width: 234px;
	  height: 143px;
	  background: #fff;
	  margin-top: 0;
      }
.zuo5:hover{
	box-shadow:0 0px 5px 0.5px rgba(0,0,0,0.4);
	 transform:translateY(-2px);
	 transition:all 0.5s;
}
.zuo7{width: 234px;
	  height: 143px;
	  background: #fff;
	   margin-top: 14px;
	   }
.zuo7:hover{
	box-shadow:0 0px 5px 0.5px rgba(0,0,0,0.4);
	 transform:translateY(-2px);
	 transition:all 0.5s;
}


.word-dian0{width: 81px;
	        height: 54px;
	        background: white;
	        margin-top:38px;
	        margin-left: 25px;
	        text-align: center;
	        float: left;
}
.word-dian0 .word-dian01{color: #212121;
	                     text-decoration: none;
}
.word-dian0 .word-dian02{margin-top: 14px;
                         color: #ff6709;
}
.zuo-3{display: block;
	   width: 67px;
	   height: 115px;
/* 	   background: green; */
	     float: right;
	   margin-right: 21px;
}

.word-dian4{width: 73px;
          height: 80px;
          background: #ffffff;
          margin: 0 auto; 
          margin-top: 44px;
          margin-left: 25px;
          font-size: 12px;
          text-align: center;
          float: left;
          text-align: center;

 } 
 .word-dian41{width: 73px;
          height: 80px;
          background: #ffffff;
          margin: 0 auto; 
          margin-top: 14px;
          margin-left: 25px;
          font-size: 12px;
          text-align: center;
          float: left;
          text-align: center;

 } 
.word-dian5{display: block;
	         width:73px;
             height:12px;
             margin-top: 12px;
	         color: #212121;
	         text-decoration: none;
}
.word-dian6{display: block;
	         width:73px;
             height:12px;
             margin-top:14px;
	         color: #ff6709;
}


       
.zuo-3 .img3{display: block;
	         width:100%;
             height:100%;


}
.zuo-1{display: block;
	   width: 166px;
	   height: 117px;
	  /*  background: green; */
	   margin: 49px auto 0;
}
.zuo-1 .img0{ display: block;
	          width: 166px;
	          height: 153px;
	         /*  background: green; */
	          margin: 37px auto 0;
}
.zuo-2{display: block;
	   width: 234px;
       height: 614px;
	/*    background: green; */
}
.zuo-2 .img2{display: block;
	         width: 234px;
             height: 614px;
}

.word-dian{width: 213px;
          height: 80px;
          background: #fff;
          margin: 0 auto; 
          margin-top: 40px;
          font-size: 12px;
          text-align: center;
}
.word-dian1{text-decoration: none;
	                   color: #212121;
}
.word-dian2{color: #b6c9e7;
	       margin-top: 8px;
}
.word-dian3{ margin-top: 18px;
            color: #ff6709;
}
.word-dian5{ margin-top: 12px;
	         color: #212121;
}
/* æ­é…ç»“æŸ */
/* å†…å®¹å¼€å§‹ */
.tuijian{
	width: 1226px;
	height:80px;
	margin: 0px auto;
	background: #f5f5f5;
}
.tuijian span{
	font-size: 22px;
	color: #333333;
	float: left;
	margin-top: 40px;
}
.tuijian-1{
	width:34px;
	height: 22px;
	border:1px solid #E0E0E0 ;
	float: right;
	margin-top:40px;
}
.tuijian-2{
	width:34px;
	height: 22px;
	border:1px solid #E0E0E0 ;
	float: right;
	margin-top:40px;
}
.tuijian-1 a{
	margin-left: 12px;
	color: #B0B4BF;
}
.tuijian-2 a{
	margin-left: 12px;
	color: #E0E0E0;
}
.shopc1{
	width: 100%;
	height: 300px;
	background:#f5f5f5;
}
.shopc{
	width: 1226px;
	height: 300px;
	background:#f5f5f5;
	margin: 0px auto;
}
.shopc-a{
	width: 234px;
	height: 100%;
	background:#fff;
	float: left;
	margin-right: 14px;
}
.shopc .right{
	margin-right: 0px;
}
.shopc img{
	width: 100%;
	height: 201px;
	float: left;
}
.shopc a{
	width: 234px;
	font-size: 12px;
	color: #333333;
	float: left;
	text-align: center;
}

.shopc .san{
	width: 234px;
	font-size: 12px;
	color: #FF6700;
	float: left;
	text-align: center;
	margin-top: 17px;
}
.shopc-a .san1{
	width: 234px;
	height: 80px;
	font-size: 12px;
	/* font-style: normal; */
	color: #757575;
	/* float: left; */
	margin-top: 50px;
    text-align:center ;
/*     margin-left: 20px; */
}
.shopc-a:hover{
	margin-top:-1px;
	box-shadow: 0px 2px 4px 0px #BABABA;
}
/* å†…å®¹ç»“æŸ */


/* çƒ­è¯„å¼€å§‹ */
.re-list{
	width: 100%;
	height: 495px;
	background: #f5f5f5;

}


.re-list1{
	width: 1226px;
	height: 495px;
	background: #f5f5f5;
	margin: 0 auto;

}
.re-list1 .re-head{
	width: 1226px;
	height: 80px;
	/* height: 50px; */
	background:#f5f5f5;
	/* padding-top: 30px; */
	overflow: hidden;

	}
.re-head .rp-zi{
	width: 150px;
	height: 30px;
	font-size: 22px;
	color: #333333;
	margin-top: 38px;
}
.re-list1 .re-bottom{
	width: 1226px;
	height: 415px;
	background: #f5f5f5;


}
 .re-bottom-1:hover{
 	transform: translateY(-2px);
 	box-shadow: 0 4px 5px 0.3px rgba(0, 0, 0, 0.3);
 }
.re-bottom .re-bottom-1{
	width: 296px;
	height: 415px;
	background: #ffffff;
	float: left;
	margin-left: 14px;
	transition: all 0.5s;
}
/* .re-bottom-1 a{
	display: block;
	width: 125px;
	height: 11px;
	font-size: 12px; */

	/* margin: 24px 24px 16px 28px; */
/* } */
.re-bottom-1 a{
	display: block;
	width: 296px;
	height: 220px;
	background:#ffffff;

}
.re-bottom-1 .re-bottom-2{
	width: 296px;
	height: 166px;
	background: #fff;
}
/* .re-bottom-1 .re-bottom-xia{} */
a .re-img{display: block;
	width: 100%;
	height:100%;

}
.re-bottom-2 .zi1{
	display: block;
	width: 125px;
	height: 11px;
	font-size: 12px;
	margin: 24px 187px 18px 38px;
    color: #b0b0b7;
}
.rp-zi3-box{
	width: 170px;
	height: 16px;
	background: #ffffff;
	margin-left: 38px;
	margin-top: 17px;

}
.rp-zi3-word1{
	width: 114px;
	height: 16px;
	border-right: 2px solid #e7e1e0;
	font-size: 12px; 
	color: #333333;
	float: left;
	

}
.rp-zi3-word2{
	width: 46px;
	height: 16px;
	font-size:12px;
	color:  #ff6700;
	float: right;
}
.re-bottom .re-bottom-1:first-child{
	margin-left: 0px;
}
.reping{
	width: 237px;
	font-size: 12px;
	line-height: 24px;
	margin-left: 38px;
	margin-top: 28px;
}	        
/* çƒ­è¯„ç»“æŸ */
/* å†…å®¹å¼€å§‹ */
.neironglan{
	width: 100%;
	height: 80px;
	background: #f5f5f5;
} 
.neironglan1{
	width: 1226px;
	height: 40px;
	background: #f5f5f5;
	margin: 0 auto;
	padding-top: 40px;
}
.neironglan1 .neirong {
	font-size: 22px;
	color: #3f3945;
} 
.content{
	width: 100%;
	height: 421px;
	background: #f5f5f5;
}   
.content .content1{
	width: 1226px;
	height: 421px;
	background:#f5f5f5;
	margin: 0 auto;
}  
.content1 .nei{
	width: 296px;
	height: 419px;
	background: #fefefe;
	float: left;
	margin-left: 14px;
	border-top: 1px solid #83c44e;
	transition: all 0.5s;
	position: relative;overflow: hidden;
}
.neili
{   width: 100%;height: 340px;
	position: absolute;
	left: 0;bottom: -17px;
}

.nei:hover{
	transform: translateY(-2px);
	box-shadow: 0 4px 5px 0.3px rgba(0, 0, 0, 0.3);
}
.content1 .nei:first-child{
	margin-left: 0;
	border-top: 1px solid #ffac13;
}
.content1 .nei:nth-child(3){
	border-top: 1px solid #e53935;
}
.content1 .nei:last-child{
	border-top: 1px solid #2196f3;
}


.nei .tushu{
	font-size: 15px;
	margin-top: 49px;
	margin-bottom: 25px;
	text-align:center;
	color: #ffac13;
}
.nei .tushu3{
	font-size: 15px;
	margin-top: 49px;
	margin-bottom: 25px;
	text-align:center;
	color: #83c44e;
}
.nei .tushu4{
	font-size: 15px;
	margin-top: 49px;
	margin-bottom: 25px;
	text-align:center;
	color:#e53935;
}
.nei .tushu5{
	font-size: 15px;
	margin-top: 49px;
	margin-bottom: 25px;
	text-align:center;
	color:#2196f3;
}

.nei .tushu1{
	font-size: 20px;
	margin-bottom: 3px;
	text-align:center;
}
.nei p{
	width: 190px;
	line-height: 24px;
	font-size: 12px;
	text-align: center; 
	margin: 0 auto;
	color: #b0b0b0;
}
.nei .tushu2{
	width: 56px;
	font-size: 14px;
	line-height:28px;
	margin: 0 auto; 
}

a .li25{
	display: block;
	margin-left: 20px;width: 225px;height: 170px;
}
#li26
{
	box-sizing: border-box;
	height:  140px;margin-bottom:  20px;
	margin-top: 10px;
}

.nei .quan{
	width: 80px;
	height: 20px;
/* 	background: red; */
	margin: 0 auto;
	cursor:pointer;  position: absolute;
	left: 20px;right: 0;
	margin: 0 auto;z-index: 70;
	bottom: 40px;
}
.leftmoav
{
	left: 296px;
}

.quan li{
	width: 6px;
	height: 6px;
	background: #b0b0b0;
	border: 2px solid #ff6700 ;
	float: left;
	margin-right: 10px;
	border-radius: 50%;
}
.quan li:hover{
	background: #fff;
}
.nei .ce1{
	width: 20px;
	height: 48px;
	background: #d9d9d9;
	position: absolute;
	top: 0;bottom: 0;
	margin: auto 0;
	left: 0;
	float: left;
	text-align: center;
	line-height: 48px;
	display: none;
	color: #fff;z-index: 60;
	cursor:pointer;
}
.nei .ce2{
	width: 20px;
	height: 48px;
	background: #d9d9d9;
	margin-top: -203px;
	float: right;
	position: absolute;
	top: 0;bottom: 0;

	margin: auto 0;
	right: 0;z-index: 60;
	line-height: 48px;
	display: none;
	color: #fff;
	cursor:pointer;
	text-align: center;
}
.nei:hover .ce1,.nei:hover .ce2{
	display: block;
}
.ce1:hover,.ce2:hover{
	background: #8e8e8e;
	display: block;
}/* å†…å®¹ç»“æŸ */
/* è§†é¢‘å¼€å§‹ */
.shi{
	width: 100%;
	height: 80px;
	background:#f5f5f5;

}
.shi .shi1{
	width: 1226px;
	height: 80px;
	background: #f5f5f5;
	margin: 0 auto;
}
.shi1 .shipin{
	font-size: 22px;
	color: #333;
	margin-top: 40px;
	float: left;
}
.cha{
	width: 100px;
	height: 20px;
/* 	background: blue; */
	float: right;
	margin-top: 40px;
	cursor: pointer;
}
.cha .chakan {
	font-size: 16px;
/* 	margin-top: 40px; */
	float: left;
	margin-right: 27px;
}	
.cha .chakan1{	
	width: 20px;
	height: 20px;
	float: right;
	margin-top: -20px;
	background: url('../img/chakan.png') no-repeat center center;
	transition: all 1s;
}
.cha:hover .chakan{
	color: #ff6700;
}
.cha:hover .chakan1{
	transform: translateX(-0.1px);
	background: url('../img/chakan1.png') no-repeat center center;
}
.shinei{
	width: 100%;
	height: 345px;
	background: #f5f5f5;
}
.shinei0{
	width: 1226px;
	height: 345px;
	background: #f5f5f5;
	margin: 0 auto;
}
.shinei0 .shinei11{
	width: 296px;
	height: 285px;
	background: #fff;
	margin-right: 14px;
	float: left;
	transition: all 0.3s;
	position: relative;
}

/* .shinei11 img:hover .shipinlogo{
	background: url('../img/icon.png')
} */
.shinei11:hover{
	box-shadow: 0 3px 10px 0.5px rgba(0, 0, 0, 0.4);
	transform: translateY(-2px);
} 
.shinei0 .shinei11:last-child{
	margin-right: 0;
}
.shinei11 .shinei2{
	margin-top: 33px;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
}
.shinei11 .shinei3{
	font-size: 10px;
	line-height: 42px;
	color: #b0b7cb;
	text-align: center;
}
.shinei11 .shinei2:hover{
	color: #ff6700;
}
.shinei11 img{
	cursor: pointer;
}
/* è§†é¢‘ç»“æŸ 
/* æœ€ä¸‹å¯¼èˆªå¼€å§‹ */
.fooner{
	width: 100%;
	height: 80px;
	background: #fff;


}
.fooner .fooner0{
	width: 1226px;
	height: 53px;
/* 	background: red; */
	margin: 0 auto;
	padding-top: 26px;
	border-bottom: 1px solid #8a8aa0;
}
.fooner0 .fooner1{
	width: 1226px;
	height: 26px;
/* 	background: blue; */
	margin: 0 auto;
}
.fooner1 .fooner2{
	width: 244px;
	height: 26px;
/* 	background: green; */
	border-right: 1px solid #8a8aa0;
	float: left;

}
.fooner2:last-child{
	border-right: none;
}
.fooner .word{
	text-align: center;
	font-size: 16px;
	color: #616161;
	line-height: 26px;
}
.fooner2:hover .word{
    color: #ff6b00;
}
.fooner2 .icon-1{
	width: 26px;
	height: 26px;
	background: #fff;
	margin-top: -26px;
	margin-left: 40px;
	background: url('../img/con11.png') no-repeat center center;
}
.fooner2:hover .icon-1{
	background: url('../img/con111.png') no-repeat center center;
}
.fooner2 .icon-2{
	width: 26px;
	height: 26px;
	background: #fff;
	margin-top: -26px;
	margin-left: 40px;
	background: url('../img/con22.png') no-repeat center center;
}
.fooner2:hover .icon-2{
	background: url('../img/con222.png') no-repeat center center;
}
.fooner2 .icon-3{
	width: 26px;
	height: 26px;
	background: #fff;
	margin-top: -26px;
	margin-left: 40px;
	background: url('../img/con33.png') no-repeat center center;
}
.fooner2:hover .icon-3{
	background: url('../img/con333.png') no-repeat center center;
}
.fooner2 .icon-4{
	width: 26px;
	height: 26px;
	background: #fff;
	margin-top: -26px;
	margin-left: 40px;
	background: url('../img/con44.png') no-repeat center center;
}
.fooner2:hover .icon-4{
	background: url('../img/con444.png') no-repeat center center;
}
.fooner2 .icon-5{
	width: 26px;
	height: 26px;
	background: #fff;
	margin-top: -26px;
	margin-left: 40px;
	background: url('../img/con55.png') no-repeat center center;
}
.fooner2:hover .icon-5{
	background: url('../img/con555.png') no-repeat center center;
}

/* æœ€ä¸‹å¯¼èˆªç»“æŸ */
/* æœ€ä¸‹èœå•å¼€å§‹ */
.meauu{
	width: 100%;
	height: 192px;
	background: #fff;
}
.meauu .meauu0{
	width: 1226px;
	height: 192px;
	background:#fff;
	margin: 0 auto;
	position: relative;
}
.meauu0 .m1{
	width: 975px;
	height: 192px;
	background: #fff;
}
.meauu0 .m2{
	width: 250px;
	height: 112px;
	background: #fff;
	float: right;
	border-left: 1px solid #8a8aa0;
	position: absolute;
	top:40px;
/* 	bottom: 0; */
/* 	margin-top: auto;
	margin-bottom: auto; */
	margin-left: 975px;

}
.m-1 li{
	float: left;
	font-size: 12px;
	padding-right: 105px;
	margin-top: 40px;
	margin-bottom: 22px;
}
.m-2 li{
	float: left;
	font-size: 10px;
	padding-right: 113px;
	line-height: 26px;
	cursor: pointer;
	color: #757575;
}
.m-2 li:hover{
	color: #ff6700;

}
.m2 .m-3{
	font-size: 18px;
	text-align: center;
	color: #ff6700 ;
	margin-bottom: 8px;
}
.m2 p{
	width: 121px;
	font-size: 10px;
	line-height: 18px;
	margin-left: 65px;
	text-align: center;
	color: #757575;
}
.m2 .m-4{
	width: 118px;
	height: 28px;
	background: #fff;
	border: 1px solid #ff6700;
	margin: 16px auto;
	font-size: 12px;
	text-align: center;
	line-height: 28px;
	color: #ff6700;
	
}
.m-4 .m-5{
	width: 22px;
	height: 28px;
	
	float: left;
	background: url('../img/m-0.png') no-repeat center center;
	
}

.m-4:hover{
	background: #f25807;
	color: #fff;transition: 1s;
}
.m-5:hover{background: url('../img/m-00.png') no-repeat center center;}
.m-4:hover .m-5{
	transition: 1s;
	background: url('../img/m-00.png') no-repeat center center;
}
/* æœ€ä¸‹èœå•ç»“æŸ */
/* æœ€ä¸‹å¼€å§‹ */
.over{
	width: 100%;
	height: 80px;
	background:#fafafa;
    padding-top:30px;
}
.over1{
	width: 1226px;
	height: 57px;
	background:#fafafa;
/* 	margin-top: 30px; */
	margin: 0 auto;
	position: relative;
}
.over1 .over-left{
	width: 56px;
	height: 57px;
	background: url('../img/xiaomi-logo2.png') no-repeat center center;
	float: left;
}
.over .over-center{
	width: 725px;
	height: 57px;
	margin-left: 9px;
	background:#fafafa;
	float: left;
}
.over .over-right{
	width: 372px;
	height: 57px;
	background: #fafafa;
	position: absolute;
	top:0;
	right: 0;
}
.last-list li{
	float: left;
	font-size: 12px;
	padding:0  3px;
	border-right: 1px solid #8a8aa0; 
	line-height: 18px;
	color: #8a8aa0;
	cursor: pointer;
}
.last-list li:hover{
	color: #ff6b07;
}
.last-list2{
	padding-bottom: 8px;
}
.last-list2 a{
	float: left;
	font-size: 10px;
	color: #b0b0c0;
}
.last-list2 a:hover{
	color: #ff6b07;
}
.last-list2 li{
	float: left;
	font-size: 10px;
	color: #b0b0c0;
	padding-left:3px; 
}
.last-list2 li:hover{
	color: #ff6b07;
}
.last-list2 .ho:hover{
	color: #b0b0c0;
}
.over-center p{
	/* width:371px;  */
	font-size: 10px;
	color: #b0b0c0;
	float: left;
}
.over-right .right1{
	width: 93px;
	height: 57px;
	background: #fafafa;
	float: left;
	background: url('../img/di1.png') no-repeat center center;
	cursor: pointer;
}
.over-right .right2{
	width: 93px;
	height: 57px;
	background:#fafafa;
	float: left;
	background: url('../img/di2.png') no-repeat left center;
	cursor: pointer;
}
.di-word{
	width: 50px;
	height: 30px;
	text-align: center;
	font-size: 12px;
	margin-left: 38px;
	line-height: 18px;
	color: #b0b0c0;
	cursor: pointer;
}
.over-right .right3{
	width: 93px;
	height: 57px;
	background: blue;
	float: left;
	background: url('../img/di3.png') no-repeat left center;
	cursor: pointer;
}
.over-right .right4{
	width: 93px;
	height: 57px;
	
	float: left;
	background: url('../img/di4.png') no-repeat left center;
	cursor: pointer;
}
/* æœ€ä¸‹ç»“æŸ */